html,
body {
    height: 100%;
    font-family: 'degular', sans-serif;
    font-weight: 400;
    overflow: hidden;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #858E88;
}


/* Progress scroll bar css */
#fp-nav ul li:hover a span,
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span {
    width: 4px;
    height: 20px;
    margin: 0px -1px -1px -1px;
    border-radius: 0;
}

#fp-nav ul li {
    width: 2px;
    height: 20px;
    margin: 0;
}

#fp-nav ul li a.active span {
    height: 20px;
    width: 2px;
    margin: 0;
    border-radius: 0;
    background-color: #fff;
    z-index: 100;
}

#fp-nav ul li a span {
    height: 20px;
    width: 2px;
    background: #b3b3b3;
    opacity: 1;
    border-radius: 0;
    margin: 0;
}



/* Header */
.sunday-navbar {
    position: fixed;
    height: 0%;
}

.sunday-navbar-active {
    height: 40%;
    background-color: #fff;
}

.menu-box {
    width: 90%;
    margin: auto;
}

#mobile-nav {
    width: 80%;
    padding-top: 2rem;
}

#mobile-nav-content .nav-link {
    width: 33%;
    font-size: 16px;
    color: #656565;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
}

#scroll-down {
    text-transform: uppercase;
}

ul.nav li:last-child .nav-link {
    border-bottom: none;
}

.menu-title {
    color: #656565;
    font-size: 21px;
    border-bottom: 3px solid #8C968F;
}

/* Nav top bar */
.nav-wrapper-top {
    width: 100%;
    position: fixed;
    top: 0;
    height: 5rem;
    z-index: 2;
    display: none;
}

.nav-top-row {
    height: 100%;
    display: flex;
    margin: 0 auto;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 2rem;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.nav-top-row svg {
    transform: rotate(-180deg);
    margin-right: 0.8rem;
}

#scroll-up {
    color: #fff;
    text-transform: uppercase;
}

/* Nav bottom bar */
.nav-wrapper {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 5rem;
}

.nav-bottom-row {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    border-top: 1px solid rgba(255,255,255,0.3);
    margin-left: 5rem;
    margin-right: 5rem;
}

.btn-left-box span {
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.sunday-navbar-active .nav-bottom-row {
    background: linear-gradient(#e5e5e5, #e5e5e5) top center no-repeat;
    background-size: 100% 1px;
}

.sunday-navbar-active .btn-left-box span {
    color: #A0A8A2;
}

#menu-arrow {
    margin-right: 0.8rem;
}

.sunday-navbar-active .btn-left-box span::before,
.sunday-navbar-active .btn-right-box span img {
    filter: invert(68%) sepia(12%) saturate(123%) hue-rotate(83deg) brightness(94%) contrast(92%);
}

.btn-right-box span {
    margin: 0 0.6rem;
}


#home-page,
#home-modal {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(121, 131, 124, 0.7), rgba(121, 131, 124, 0.7)), url("../assets/img/Bg\ Image.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#home-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay_home {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay_home img {
    max-width: 260px;
}

#home-modal {
    position: relative;
}

.home-modal-box {
    position: absolute;
    top: 5rem;
    bottom: 5rem;
    left: 5rem;
    right: 5rem;
    background-color: rgba(141, 151, 144, 0.94);
    text-align: center;
}

.home-modal-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding-left: 5rem;
    padding-right: 5rem;
}

.home-modal-content p {
    color: #fff;
    font-size: 28px;
    line-height: 40px;
    font-weight: 400;
}

p.home-modal-title {
    margin-bottom: 4rem;
    position: relative;
}

p.home-modal-title::before {
    content: "";
    width: 33px;
    height: 1px;
    background-color: rgba(255,255,255,0.25);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    bottom: -2rem;
}

.home-modal-content strong {
    font-weight: 600;
}


/* Section 3 */

#sunday-everyday {
    background-color: #f8f8f8;
}

.sunday-title p{
    font-size: 28px;
    line-height: 40px;
    color: #858E88;
    position: relative;
}

.sunday-title p::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 1px;
    background-color: #fff;
    opacity: 0.25;
    top: -20%;
}

.scrollable-content{
    background: #f8f8f8;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    height: 100vh;
  }

.everyday-section {
    padding: 5rem;
}



#sunday-partners .row {
    margin-left: 0px;
    margin-right: 0px;
}

#sunday-partners .col-md-5,
#sunday-partners .col-md-7 {
    padding-right: 0px;
    padding-left: 0px;
}

#sunday-partners .sunday-title {
    padding-top: 5rem;
}

.creative-top-box {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/img/chanel-bg.png");   
    background-size: cover;
    padding: 5rem;
    position: relative;
}

.creative-section .sunday-title p {
    color: #fff;
    position: sticky;
    top: 10rem;
}


.creative-content-box-right {
    background-color: #CCC8C2;
    padding: 5rem;
    padding-right: 5rem !important;
    padding-left: 5rem !important;
    height: 50vh;
    position: absolute;
    bottom: 0;
    right: 0;;
}

.creative-content-box-right p {
    color: #656565;
}

.partner-tabs {
    display: flex;
    width: 100%;
    height: 80vh;
    padding: 5rem;
    padding-top: 0;
    position: relative;
}

.nav-pills .nav-link {
    border-bottom: none;
    padding-right: 5rem;
    padding-left: 0;
}

#v-pills-tab {
    padding-top: 5rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
}

.partner-title {
    font-size: 21px;
    line-height: 24px;
    color: #656565;
    font-weight: 700;
    margin-bottom: 0;
}

.partner-job-title {
    font-size: 16px;
    line-height: 21px;
    color: #656565;
    font-weight: 400;
}

.slide-progress-bar {
    width: 100%;
    background-color: #bababa;
    opacity: 0.2;
    transition: width 10s linear;
    display: inline-block;
    vertical-align: middle;
    height: 2px;
}

.progress-bar-fill {
    display: block;
    height: 2px;
    background: red;
    border-radius: 2px;
    transition: width 250ms ease-in-out;
}

.tab-content {
    position: absolute;
    right: 0;
    background-color: #CCC8C2;
    height: calc(80vh - 5rem);
    padding-top: 6rem;
    padding-right: 5rem !important;
    padding-left: 5rem !important;
}

.partners-tab-content  {
    color: #656565;
}


.welcome-home {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/img/bg-Image-house.png");
    background-size: cover;
    padding: 5rem;
    padding-bottom: 0;
    height: 100vh;
}

.welcome-tabs {
    height: 100%;
    position: relative;
}

.welcome-tabs .nav-pills .nav-link {
    max-width: 250px;
    padding: 0.5rem 0;
}

.welcome-tabs .nav-pills .nav-link.active .welcome-tab-box{
    background-color: #F6F7FA;
    transition: 0.2s linear;
}

.welcome-tabs .nav-pills .nav-link.active .welcome-tab-box .welcome-title{
    color: #656565;
}

.welcome-tabs .nav {
    padding-top: 5rem;
}

.welcome-home-title {
    position: absolute;
    right: 0;
    top: 5rem;
}

.welcome-home-title p {
    color: #fff;
    text-align: right;
}

.welcome-home-title p::before {
    background-color: #fff;
    right: 0;
}

.welcome-title {
    color: #F6F7FA;
    border: 1px solid #F6F7FA;
    max-width: 250px;
    padding: 10px;
}

.welcome-tabs .tab-content {
    background-color: #F6F7FA;
    opacity: 0.9;
    height: 40vh;
    padding-top: 5rem;
    padding-right: 5rem !important;
    padding-left: 5rem !important;
    padding-bottom: 5rem;
    bottom: 0;
    color: #656565;
    z-index: 200;
}

.welcome-tab-content-hidden {
    bottom: -33vh !important;
}

.welcome-tab-content-hidden .drop-down-btn {
    transform: rotate(-180deg);
}

.drop-down-btn {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    filter: brightness(0.5);
    cursor: pointer;
}

.drop-down-btn img {
    width: 20px;
}

#floor-plan {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/img/chair-bg-image.png");    
    height: 100vh;
}

.floor-plan-container {
    padding: 5rem;
    position: relative;
    height: 100%;
}

.floor-plan-title {
    color: #fff;
    text-transform: uppercase;
    margin-top: 2rem;
}

.layout-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5rem;
    right: 5rem;
    left: 5rem;
    bottom: 5rem;

}

.layout-box {
    border: 1px solid #fff;
    padding: 1rem;
    height: calc(20vw - 10px);
    width: calc(20vw - 10px);
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.3s ease-in-out;
}

.layout-container :hover .layout-box {
    background-color: #fff;
    opacity: 0.8;
}

.layout p{
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}


.layout-type {
    color: #fff;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    font-size: 26px;
    font-weight: 300;
}

.expand-icon {
    position: absolute;
    right: 1rem;
    z-index: 2;
}

.layout-container :hover .layout-box .layout p, 
.layout-container :hover .layout-box .layout-type{
    color: #656565;
    opacity: 0.8;
}

.layout-container :hover .layout-box .expand-icon {
    filter: brightness(0.55);
}

.modal-header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    border-bottom: none;
}

.modal-header .close {
    margin: 0;
    color: #5F5D5E;
    opacity: 1;
    font-size: 70px;
    font-weight: 100;
    padding: 0;
    padding-right: 1rem;
}

.modal-title {
    color: #8C968F;
    margin-top: 2.5rem;
    padding-left: 1rem;
    font-size: 26px;
    line-height: 40px;
    position: relative;
}

.modal-title::before {
    position: absolute;
    content: "";
    background-color: #88918B;
    opacity: 0.25;
    height: 1px;
    width: 33px;
    top: -30%;
}

.ekko-lightbox-nav-overlay {
    display: none;
}