html,
body {
    height: 100%;
    font-family: 'degular', sans-serif;
    font-style: normal;
    font-weight: 400;
    overflow: hidden !important;
}

:root {
    --animate-delay: 0.5s;
  }

#loader {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#status {
    background-image: url('../assets/img/icons/preloader/loader.svg');
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}

#preloader {
    background-color: rgb(157, 167, 160);
    position: fixed;
    height: 100%;
    width: 0px;
    z-index: 9999;
    transition: all 2s ease;
}

#preloader.show {
    width: 100%;
}

@keyframes slide {
    100% { transform: translateX(0); }
}

#menubar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 997;
    display: none;
}

.nav-open {
    display: block !important;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #858E88;
}


/* Progress scroll bar css */
#fp-nav ul li:hover a span,
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
    width: 2px;
    height: 20px;
    margin: 0px -1px -1px -1px;
    border-radius: 0;
}

#fp-nav ul li {
    width: 2px;
    height: 10px;
    margin: 0;
}

#fp-nav ul li a.active span {
    height: 20px;
    width: 2px;
    border-radius: 0;
    background-color: #b3b3b3;
    z-index: 100;
}

#fp-nav ul li a span {
    height: 20px;
    width: 1px;
    background: #b3b3b3;
    opacity: 1;
    border-radius: 0;
    margin: 0;
}

#fp-nav.fp-right {
    right: 2.5rem;
}



/* Header */
.sunday-navbar {
    position: fixed;
    height: 0%;
    transition: all 300ms ease;
}

.sunday-navbar-active {
    height: 45%;
    background-color: #fff;
    transition: all 300ms ease;
}

.menu-box {
    margin: auto 5rem;
}

.sunday-navbar-active .menu-box {
    height: calc(100% - 5rem);
    display: flex;
    align-items: center;
}

#mobile-nav {
    max-width: 100%;
    width: 100%;
}

#mobile-nav-content .navbar-nav {
    height: calc(40vh - 11.8rem);
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    justify-content: space-between;
}

#mobile-nav-content .navbar-nav li {
    width: 40%;
}

#mobile-nav-content .nav-link {
    font-size: 14px;
    color: #656565;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 1px;
}

#scroll-down {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2px;
}

ul.nav li:last-child .nav-link {
    border-bottom: none;
}

.menu-title {
    color: #656565;
    font-size: 21px;
    width: 100%;
    border-bottom: 3px solid #8C968F;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    font-weight: 600;
    margin-bottom: 0;
}

#scroll-down{
    opacity: 0.5;
}

.fp-viewing-sd-contact-us #scroll-down, .fp-viewing-sd-contact-us #menu-arrow{
    display: none;
}

.fp-viewing-sd-every #scroll-down, .fp-viewing-sd-every #scroll-up,
.fp-viewing-sd-partners-2 #scroll-down, .fp-viewing-sd-partners-2 #scroll-up, 
.fp-viewing-sd-fixtures #scroll-down, .fp-viewing-sd-fixtures #scroll-up,
.fp-viewing-sd-doorstep #scroll-down, .fp-viewing-sd-doorstep #scroll-up,
.fp-viewing-sd-doorstep-1 #scroll-down, .fp-viewing-sd-doorstep-1 #scroll-up,
.fp-viewing-sd-doorstep-2 #scroll-down, .fp-viewing-sd-doorstep-2 #scroll-up,
.fp-viewing-sd-doorstep-3 #scroll-down, .fp-viewing-sd-doorstep-3 #scroll-up,
.fp-viewing-sd-contact-us #scroll-up 
{
    color: #858E88;
    opacity: 0.5;
}

.fp-viewing-sd-every #menu-arrow path, .fp-viewing-sd-every .btn-right-box svg path, .fp-viewing-sd-every #menu-arrow-down path,
.fp-viewing-sd-partners-2 #menu-arrow path, .fp-viewing-sd-partners-2 .btn-right-box svg path, .fp-viewing-sd-partners-2 #menu-arrow-down path,
.fp-viewing-sd-fixtures #menu-arrow path, .fp-viewing-sd-fixtures .btn-right-box svg path, .fp-viewing-sd-fixtures #menu-arrow-down path,
.fp-viewing-sd-doorstep #menu-arrow path, .fp-viewing-sd-doorstep .btn-right-box svg path, .fp-viewing-sd-doorstep #menu-arrow-down path,
.fp-viewing-sd-doorstep-1 #menu-arrow path, .fp-viewing-sd-doorstep-1 .btn-right-box svg path, .fp-viewing-sd-doorstep-1 #menu-arrow-down path,
.fp-viewing-sd-doorstep-2 #menu-arrow path, .fp-viewing-sd-doorstep-2 .btn-right-box svg path, .fp-viewing-sd-doorstep-2 #menu-arrow-down path,
.fp-viewing-sd-doorstep-3 #menu-arrow path, .fp-viewing-sd-doorstep-3 .btn-right-box svg path, .fp-viewing-sd-doorstep-3 #menu-arrow-down path,
.fp-viewing-sd-contact-us #menu-arrow path, .fp-viewing-sd-contact-us .btn-right-box svg path, .fp-viewing-sd-contact-us #menu-arrow-down path
{
    fill: #858E88;
    opacity: 0.5;
}

.fp-viewing-sd-intro .nav-bottom-row {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/* bottom row grey color */
.fp-viewing-sd-every .nav-bottom-row,
.fp-viewing-sd-partners-2 .nav-bottom-row,
.fp-viewing-sd-fixtures .nav-bottom-row,
.fp-viewing-sd-doorstep .nav-bottom-row,
.fp-viewing-sd-doorstep-1 .nav-bottom-row,
.fp-viewing-sd-doorstep-2 .nav-bottom-row,
.fp-viewing-sd-doorstep-3 .nav-bottom-row,
.fp-viewing-sd-contact-us .nav-bottom-row {
    border-top: 1px solid rgba(133, 142, 136, 0.5);
}

.fp-viewing-sd-every .nav-top-row,
.fp-viewing-sd-partners-2 .nav-top-row,
.fp-viewing-sd-fixtures .nav-top-row, 
.fp-viewing-sd-doorstep .nav-top-row,
.fp-viewing-sd-doorstep-1 .nav-top-row,
.fp-viewing-sd-doorstep-2 .nav-top-row,
.fp-viewing-sd-doorstep-3 .nav-top-row,
.fp-viewing-sd-contact-us .nav-top-row{
    border-bottom: 1px solid rgba(133, 142, 136, 0.5);
}

/* Nav top bar */
.nav-wrapper-top {
    width: 100%;
    position: fixed;
    top: 0;
    height: 5rem;
    z-index: 5;
    display: block;
}

.fp-viewing-sd-home .nav-wrapper-top {
    display: none;
}

.nav-top-row {
    height: 100%;
    display: flex;
    margin: 0 auto;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-link-no-border {
    border-bottom: none !important;
}

.nav-top-row svg {
    transform: rotate(-180deg);
}

#menu-arrow-down-box {
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#scroll-up {
    color: rgba(255,255,255,0.5);
    text-transform: uppercase;
}

.scroll-up {
    width: 100%;
}

#menu-arrow-down path {
    fill: rgba(255,255,255,0.5);
}

/* Nav bottom bar */
.nav-wrapper {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 5rem;
}

.nav-bottom-row {
    margin: 0 auto;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 5rem;
    margin-right: 5rem;
    align-items: center;
    position: relative;
}

.btn-left-box {
    height: 100%;
    display: flex;
    align-items: center;
}

.btn-left-box span {
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}

.sunday-navbar-active .nav-bottom-row .btn-right-box svg path,
.sunday-navbar-active .nav-bottom-row .btn-left-box svg path {
    fill: #8C968F !important;
}

.sunday-navbar-active .nav-bottom-row {
    border-top: 1px solid #E5E5E5 !important;
}

.sunday-navbar-active .btn-left-box span {
    color: #A0A8A2 !important;
}

.menu-arrow-box {
    position: absolute;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.btn-right-box {
    height: 100%;
    display: flex;
}

.btn-right-box span {
    margin: 0 0.6rem;
    height: 100%;
    display: flex;
    align-items: center;
}   

.empty-box {
    position: relative;
    height: calc(40vh - 9rem);
    padding: 0;
}

.empty-box:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: calc(3rem - 13px);
    border-left: 1px solid #e5e5e5;
}



/* Menu Carousel */
.menu-carousel-container {
    padding: 0;
    margin-right: -15px;
}

.menu-carousel-container .carousel-caption {
    left: 0;
    right: 0;
    background-color: #8C968F;
    bottom: 0;
    text-align: left;
    padding: 0;
    padding-left: 0.7rem;
    height: 2rem;
    display: flex;
    align-items: center;
}

.menu-carousel-container  .carousel-caption h5 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
}

.menu-carousel-container .swiper-pagination-bullets{
    bottom: 0;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 1.5rem;
    align-items: center;
}

.menu-carousel-container img {
    height: 100%;
    object-fit: cover;
}

.menu-carousel-container .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 2px !important;
    background: #fff;
    border: 1px solid #fff;
    opacity: 1;
}

.menu-carousel-container .swiper-pagination-bullet-active {
    background: transparent !important;
    border: 1px solid #fff !important;
}





#home-modal {
    height: 100vh;
    width: 100%;
    background:  url("../assets/img/Bg\ Image.png");
    background-color: #8C968F;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-video {
    height: 100%;
    width: 100%;
    background: #8C968F;
    mix-blend-mode: multiply;
    z-index: 0;
}

#home-bg-video {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    mix-blend-mode: multiply;
    background: #8C968F;
    display: none;
    animation-duration: 1.5s;
}

#home-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay_home {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay_home img{
    display: none;
}

.animate__animated.animate__fadeInLeft,
.animate__animated.animate__fadeInRight {
    animation-duration: 2s;
}

.homeShow {
    display: block !important;
}

#home-modal {
    position: relative;
}

.home-modal-box {
    position: absolute;
    text-align: center;
    left: 5rem;
    right: 5rem;
    background-color: rgba(141, 151, 144, 0.94);
    text-align: center;
    height: calc(100vh - 10rem);
    bottom: 5rem;
}

.home-modal-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding-left: 5rem;
    padding-right: 5rem;
}

.home-modal-content p {
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: 0.01em;
}

p.home-modal-title {
    margin-bottom: 4rem;
    position: relative;
    font-size: 28px; 
}

p.home-modal-title::before {
    content: "";
    width: 33px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    bottom: -2rem;
}

.home-modal-content strong {
    font-weight: 600;
}


/* Section 3 */

#sunday-everyday {
    background-color: #f8f8f8;
    padding: 5rem 0 5rem 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sunday-title {
    margin-top: 3rem;
}

.sunday-title p {
    font-size: 28px;
    line-height: 40px;
    color: #858E88;
    position: relative;
    border-top: unset !important;
    overflow: unset !important;
}

.everyday-section .sunday-title {
    height: 5rem;
}

.sunday-paragraph {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sunday-paragraph p{
    overflow: scroll;
    border-top: 1px solid #DDDFDD;
}


.sd-everyday-row {
    position: relative;
    height: 100%;
}

.sunday-title p::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #fff;
    opacity: 0.25;
    top: -10px;
}

#sunday-everyday .sunday-title p::before {
    background-color: #858E88;
    opacity: 0.3;
    top: -10px;
}

.sd-prev::after {
    content: url('../assets/img/download-2.png') !important;
    transform: rotate(90deg);
    zoom: 0.7;
    margin-left: 40px;
}

.sd-next::after {
    content: url('../assets/img/download-2.png') !important;
    transform: rotate(-90deg);
    zoom: 0.7;
    margin-right: 40px;
}

#sd-everyday-carousel .expand-icon{
    top: 1.5rem;
}

#sd-everyday-carousel {
    /* transform: translateX(100%);
    transition: all 2s slide; */
}

@keyframes slide {
    100% { transform: translateX(0); }
}


#sd-everyday-carousel,
#sd-everyday-carousel .swiper-slide,
#sd-everyday-carousel .swiper-slide img {
    height: 100%;
}

#sd-everyday-carousel .carousel-indicators {
    z-index: 20;
    margin: 0;
    bottom: 0;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#sd-everyday-carousel .swiper-button-next, .swiper-button-prev {
    color: #ffffff;
}

#sd-everyday-carousel .swiper-pagination-clickable .swiper-pagination-bullet {
    margin: 3px;
}

#sd-everyday-carousel .swiper-pagination-bullet-active{
    background-color: #fff;
}

.fp-viewing-sd-every .ekko-lightbox .ekko-lightbox-container {
    height: 100% !important;
    display: flex;
    align-items: center;
    margin-top: 0;
}
.fp-viewing-sd-every .ekko-lightbox .modal-header .close {
    right: 0;
    top: 0;
}

.carousel-inner {
    overflow: visible;
}

.carousel-img-container {
    max-height: 50vh;
    display: flex;
}

.second-img {
    width: 66%;
    padding-right: 15px;
}

.sd-third-img-box {
    width: 34%;
}

.third-img {
    height: 100%;
    width: 100%;
}

.sd-third-img-box .expand-icon {
    right: 2rem;
    top: 3rem;
}

#sunday-partners .row {
    margin-left: 0px;
    margin-right: 0px;
}

#sunday-partners .col-md-5,
#sunday-partners .col-md-7 {
    padding-right: 0px;
    padding-left: 0px;
}

#sunday-partners .sunday-title {
    padding-top: 2rem;
}

.creative-top-box {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/chanel-bg.png");
    background-size: cover;
    padding: 5rem;
    position: relative;
}

.creative-section .sunday-title p {
    color: #fff;
    position: sticky;
    top: 10rem;
    text-transform: capitalize;
}


.creative-content-box-right {
    background-color: #CCC8C2;
    padding: 5rem;
    padding-right: 5rem !important;
    padding-left: 5rem !important;
    position: absolute;
    bottom: 0;
    right: 0;
    ;
}

.creative-content-box-right p {
    color: #656565;
}

#sunday-partners-2 {
    padding: 5rem 0;
    height: 100vh;
}

.partner-tabs {
    display: flex;
    width: 100%;
    height: 80vh;
    padding-top: 0;
    position: relative;
}

.nav-pills .nav-link {
    border-bottom: none;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 0;
    padding-bottom: 1.5rem; 
}

#v-pills-tab {
    padding-top: 5rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: transparent;
}

.partner-title {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
    color: #656565;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 0.02em;
}

.partner-job-title {
    font-size: 16px;
    line-height: 21px;
    color: #656565;
    font-weight: 400;
}

.slide-progress-bar {
    width: 100%;
    background-color: #bababa;
    opacity: 0.2;
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    margin-bottom: 2px;
}

.progress-bar-fill {
    display: block;
    height: 2px;
    background: #000000;
    border-radius: 2px;
}

.partner-tabs .tab-content {
    position: absolute;
    right: 0;
    background-color: #CCC8C2;
    height: calc(80vh - 0rem);
    top: -5rem;
    padding-top: 10rem;
    padding-right: 5rem !important;
    padding-left: 5rem !important;
}

.partners-tab-content {
    color: #656565;
    padding-left: 0px;
}

.partner-tabs .tab-pane .expand-icon {
    left: 5rem;
    top: 24.5rem;
    right: 5rem;
    margin-left: -15px;
}

.tab-pagination {
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 2rem;
    right: 5rem;
    display: flex;
    justify-content: flex-end;
}

.tab-pagination-bullets {
    width: 6px;
    height: 6px;
    margin: 5px;
    background-color: #fff;
    opacity: 0.5;
    border-radius: 50%;
}

.bullets-active {
    width: 40px;
    height: 6px;
    opacity: 0.8;
    border-radius: 4px;
}


.welcome-home {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/bg-Image-house.png");
    background-size: cover;
    padding: 5rem 0 5rem 5rem;
    padding-bottom: 0;
    height: 100vh;
}

.welcome-tabs {
    height: 100%;
    position: relative;
}

.welcome-tabs .nav-pills .nav-link {
    max-width: 220px;
    padding: 5px 0;
}

.welcome-tabs .nav-pills .nav-link.active .welcome-tab-box {
    background-color: #F6F7FA;
    transition: 0.2s linear;
}

.welcome-tabs .nav-pills .nav-link.active .welcome-tab-box .welcome-title {
    color: #656565;
}

.welcome-tabs .nav {
    padding-top: 5rem;
}

.welcome-home-title {
    position: absolute;
    right: 6.4rem;
    top: 5rem;
}

.welcome-home-title p {
    color: #fff;
    text-align: right;
}

.welcome-home-title p::before {
    background-color: #fff;
    right: 0;
}

.welcome-title {
    color: #F6F7FA;
    border: 1px solid #F6F7FA;
    max-width: 250px;
    padding: 8px 13px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
}

.welcome-tabs .tab-content {
    background-color: #F6F7FA;
    opacity: 0.9;
    height: 40vh;
    padding-top: 0;
    bottom: 0;
    color: #656565;
    position: absolute;
    right: 0;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.welcome-tabs .tab-content .tab-pane {
    margin: 4rem;
}

.welcome-tab-content-hidden .tab-pane{
    display: none;
}

.welcome-tab-content-hidden {
    height: 5rem !important;
    width: 100%;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.welcome-tab-content-hidden .drop-down-btn {
    transform: rotate(-180deg);
}

.drop-down-btn {
    position: absolute;
    bottom: 35vh;
    left: 50%;
    transform: translateX(-50%);
    filter: brightness(0.5);
    cursor: pointer;
    z-index: 1050;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.drop-down-btn img {
    width: 20px;
}

#floor-plan {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/chair-bg-image.png") no-repeat;
    background-size: cover;
    height: 100vh;
    transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.floor-plan-container {
    padding: 5rem;
    position: relative;
    height: 100%;
}

.floor-plan-title {
    color: #fff;
    text-transform: uppercase;
    padding-top: 2rem;
    font-weight: 600;
    font-size: 14px;
}

.residencies-dropdown {
    z-index: 200;
    display: inline-block;
    position: absolute;
    bottom: 7rem;
}

.residencies-dropdown .dropdown-menu{
    margin: 0px;
    margin-left: -5px;
    width: 100%;
    border-radius: 0px;
    border-width: 0px;
}

.rs-btn {
    border-radius: 0px;
    padding: 0.375rem 5rem;
    background-color: #CCC8C2;
    border: 1px solid #CCC8C2;
}

.show>.btn-secondary.dropdown-toggle {
    background-color: #CCC8C2;
    border-color: #CCC8C2;
}

.layout-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5rem;
    right: 5rem;
    left: 5rem;
    bottom: 5rem;

}

.layout-box {
    border: 1px solid #fff;
    padding: 1rem;
    height: 33vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.3s ease-in-out;
}

.layout-container .layout-box:hover {
    background-color: #fff;
    opacity: 0.8;
}

.layout p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.166em;
    line-height: 20px;
    font-size: 14px;
}


.layout-type {
    color: #fff;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    font-size: 26px;
    font-weight: 300;
}

.expand-icon {
    position: absolute;
    right: 1.5rem;
    z-index: 2;
}

.layout-container .layout-box:hover .layout p,
.layout-container .layout-box:hover .layout-type {
    color: #656565;
    opacity: 0.8;
}

.layout-container .layout-box:hover .expand-icon {
    filter: brightness(0.55);
}

.floorplan-swiper .swiper-pagination {
    position: relative;
    margin-top: 3rem;
    display: flex;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}

.floorplan-swiper .swiper-pagination-bullet {
    width: 100%;
    background-color: #FFF;
    height: 2px;
    border-radius: 0;
}


.modal-header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2000;
    border-bottom: none;
}

.ekko-lightbox .modal-header .close {
    margin: 0;
    color: #5F5D5E;
    opacity: 1;
    font-size: 70px;
    font-weight: 100;
    padding: 0;
    top: 0.2rem;
    width: 70px;
    height: 70px;
    position: relative;
    right: 0.5rem;
}

.ekko-lightbox .modal-header .close::before {
    content: url("../assets/img/icons/close.svg");
}

.ekko-lightbox .modal-header .close span {
    display: none;
}

.modal-title {
    color: #8C968F;
    margin-top: 3rem;
    padding-left: 2rem;
    font-size: 26px;
    line-height: 40px;
    position: relative;
    font-weight: 400;
}

.modal-title::before {
    position: absolute;
    content: "";
    background-color: #88918B;
    opacity: 0.25;
    height: 1px;
    width: 33px;
    top: -30%;
}

.modal-open .modal {
    overflow: hidden;
}

.ekko-lightbox-nav-overlay {
    display: none;
}

.ekko-lightbox-container {
    margin-top: 4rem;
}
/* 
#ekkoLightbox-562 .ekko-lightbox-container img{
    margin-top: 4rem;
} */


/* Fixtures Section */
#fixtures {
    background: linear-gradient(rgba(228, 224, 217, 0.5), rgba(228, 224, 217, 0.5)), url("../assets/img/bg\ –\ Fixtures.png");
    height: 100vh !important;
    z-index: 2;
}

.fixtures-row {
    height: 100%;
}

.fixtures-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-left: calc(5rem + 15px);
}

.vs-img {
    max-height: 100%;
}

.fixture-swiper {
    width: 100%;
    height: 100%;
}

.fixture-swiper .swiper-pagination-bullet-active {
    background-color: #000;
    opacity: 0.4;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: column;
}

.ss-box {
    flex-grow: 1;
    border: 1px solid #fff;
    margin: 5px 0;
    position: relative;
}

.ss-box .expand-icon {
    bottom: 1rem;
}

.vertical-fx-img div {
    border: 1px solid #fff;
    transition: all 200ms ease-in-out;
}

.vertical-fx-img div:hover {
    background-color: #ffffff;
}

.vfx-img-div {
    position: relative;
    height: 45vh;
}

.vfx-img-div img{
    height: 100%;
}

.vfx-img-div .expand-icon {
    bottom: 1rem;
}

.vfx-div-second {
    height: 50vh;
}

.vfx-div-second .expand-icon {
    bottom: unset;
    top: 1rem;
}

.vertical-fx-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1035;
}

/* #ekkoLightbox-18 .ekko-lightbox-item img {
    width: 40% !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} */


/* Doorstep section */
#doorstep,
#doorstep-1
#doorstep-2
#doorstep-3 {
    background-color: #FAFAFA;
    height: 100vh !important;
}

#doorstep {
    z-index: 1;
}

.doorstep-section {
    padding-bottom: 5rem;
    background-color: #FAFAFA !important;
}

.doorstep-container-top .sunday-title {
    margin-top: 10rem;
    margin-left: 5rem;
}

#doorstep .sunday-title p::before {
    background-color: #e0e0e0;
    opacity: 0.7;
}

.title {
    font-weight: 600;
    color: #656565;
}

.paragraph {
    color: #656565;
}

.doorstep-content-box {
    padding-top: 20px;
    padding-right: 5rem;
    margin-left: 5rem;
    border-top: 1px solid #e0e0e0;
    margin-top: 8rem;
    position: sticky;
    top: 5rem;
    height: 10vh;
}

.doorstep-img-container-right {
    position: relative;
    display: flex;
    height: 100vh;
}

.doorstep-img-container-right .first-img {
    position: absolute;
    right: 0;
    animation-duration: 2s;
    height: 100%;
    transition: 2s all ease;
}

.doorstep-img-container-right .second-img.show {
    transform: translateX(-100%);
}

.doorstep-img-container-right .second-img {
    position: absolute;
    top: -7rem;
    border-right: 15px solid #FAFAFA;
    border-bottom: 15px solid #FAFAFA;
    padding-right: 0px;
    animation-duration: 2s;
    transition: 2s all ease;
}

.doorstep-img-container-left .first-img {
    position: absolute;
    left: 0;
}

.doorstep-img-container-left .second-img {
    position: absolute;
    left: 20rem;
    top: -5rem;
}

.dp-container-left,
.dp-container-right {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.dp-container-left img,
.dp-container-right img {
    width: 100%;
    z-index: 2;
    object-fit: cover;
    height: calc(79vh + 1px);
}

#doorstep-3 .dp-container-left img {
}

.dp-container-left .greybox,
.dp-container-right .greybox {
    position: absolute;
    width: 600px;
    height: 150px;
    background-color: #EDEDED;
    top: -2.5rem;
    right: -2rem;
    z-index: 1;
}

.doorstep-container-mid {
    padding: 5rem 0;
}

.dp-container-right .greybox {
    right: unset;
    left: -2rem;
    top: -2.5rem;
    height: 150px;
}

.doorstep-accordion-box.right {
    margin-right: 5rem;
    padding-top: 20px;
    border-top: 1px solid #DDDFDD;
    margin-left: 2rem;
    position: absolute;
    bottom: 0;
}

#doorstep-3 .doorstep-accordion-box.right {
    
}

.doorstep-accordion-box.left {
    margin-left: 5rem;
    padding-top: 20px;
    border-top: 1px solid #DDDFDD;
    margin-right: 2rem;
    position: absolute;
    bottom: 0;
    
}

.dp-container-title {
    font-weight: 600;
    font-size: 16px;
    color:#656565;
    line-height: 24px;
}

button.btn.btn-link[aria-expanded='true'] {
    color: #8C968F;
    opacity: 1;
    font-weight: 500;
}

.btn-link {
    width: 100%;
    text-align: left;
}

.card-header {
    border-bottom: none;
    padding: 0;
    background-color: transparent;
}

.card-header .btn-link {
    color: #656565;
    padding: 0.375rem 0;
    opacity: 0.7;
}

.card-header .btn-link:hover {
    text-decoration: none;
    opacity: 1;
}

.card {
    border: none;
    background-color: transparent;
}

.collapse.show {
    border-top: 1px solid #e0e0e0;
}

.doorstep-accordion-box.left .collapse.show {
    text-align: left;
}

.card-body {
    padding: 16px 10px 16px 0px;
}

.right .sunday-title p::before {
    right: 0;
}



/* Video section */

#video-bg .home-modal-box {
    background-color: #ccc8c2;
    opacity: 0.95;
}

#video-bg .home-modal-title::before {
    background-color: #fff;
}

#video-bg .home-modal-content {
    padding-left: 8rem;
    padding-right: 8rem;
}

#video-bg .home-modal-content p {
    font-size: 18px;
    line-height: 28px;
}

#video-bg p.home-modal-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
}

#bg-video {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index: -2;
}

.video-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}




/* Maps Section */
#map-section {
    padding: 5rem;
    background-color: #8B958E;
    position: relative;
}

.mapcontainer {
    position: relative;
    height: 100%;
    background-color: #e0e0e0;
}

#map {
    height: 100%;
    background-color: #e0e0e0;
}

#map-accordion .card-header .btn-link,
#map-accordion .card-body {
    color: #fff;
    font-size: 14px;
}

#map-accordion .card-body {
    padding: 16px 0px 0px 0px; 
}

#map-accordion .collapse.show {
    border-top: 2px solid #fff;
}

#map-accordion .btn-link.collapsed {
    border-bottom: 1px solid #fff;
    border-radius: 0;
}

#map-accordion .card-body ul {
    list-style: none;
    padding-inline-start: 0px;
}

#map-accordion .card-body ul a {
    color: #fff;
    font-weight: 300;
    font-style: italic;
}


/* Contact us section */
#contact-us {
    padding: 5rem;
}

#contact-us .sunday-title p::before {
    background-color: #88918B;
}

.contact-container {
    height: 100%;
    padding-top: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

/* .contacts {
    position: absolute;
    bottom: 0;
    /* top: 50%;
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%); */


.sale-member-container {
    display: flex;
    justify-content: space-between;
}

.sale-img-box {
    width: 50%;
    position: relative;
}

.sale-img-box .expand-icon {
    bottom: 5rem;
}

.sale-info {
    width: 50%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.sale-member-container .sale-img {
    margin-bottom: 2rem;
    width: 100%;
}

.sale-name {
    font-size: 18px;
    letter-spacing: 0.02rem;
    font-weight: 600;
    color: #656565;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #8C968F;
    text-transform: uppercase;
    margin-bottom: 0;
}

.sale-job-title {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #656565;
    border-bottom: 1px solid rgba(143, 143, 143, 0.43);
    font-size: 14px;
}

.sale-intro {
    max-height: 9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
}

.sale-intro p {
    color: #656565;
}

ul.sale-contact {
    list-style: none;
    padding-inline-start: 0px;
    font-size: 14px;
}

ul.sale-contact li {
    color: #656565;
}

ul.sale-contact li a {
    color: #656565;
    text-decoration: underline;
}

.contact-btn-container {
    width: 100%;
    display: flex;
}

.contact-btn-container button {
    text-transform: uppercase;
    flex: 1 1 auto;
    border-color: #8C968F;
    border-radius: 0px;
    padding: 0.4rem 0.75rem;
}

.email:hover {
    background-color: #8C968F;
    border: #8C968F;
}

.email, .call {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.166rem;
}

.call {
    background-color: #8C968F;
    color: #fff;
}

.call:hover {
    background-color: #fff;
    border-color: #8C968F;
    color: #8C968F;
}








.gallery-thumbs {
    order: -1;
    margin-right: 0;
    margin-left: unset;
}

.gallery-main .swiper-slide img {
    height: 100%;
}


.gallery-container {
    position: relative;
    display: flex;
    height: 100%;
}

.gallery-main {
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.gallery-main .swiper-slide {
    flex-flow: wrap;
    align-content: space-between;
}

.gallery-main .swiper-slide img {
    height: 60%;
    width: 100%;
    object-fit: cover;
}

.gallery-box {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-title {
    font-size: 16px;
    font-weight: 700;
    color: #969696;
    text-transform: uppercase;
    padding-bottom: 2rem;
    text-align: left;
    position: relative;
}

.gallery-title::after {
    content: '';
    background-color: rgba(136, 145, 139, 0.25);
    position: absolute;
    width: 21px;
    height: 1px;
    bottom: 1rem;
    left: 0;
}

.gallery-content {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #969696;
}

.swiper-thumbnail {
    width: 250px;
    height: 33% !important;
    padding-bottom: 10px;
}

.swiper-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-swiper-button-prev,
.modal-swiper-button-next {
    position: fixed;
    bottom: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 280px;
    top: unset;
}

.modal-swiper-button-prev {
    bottom: 20%;
}

.modal-swiper-button-next {
    bottom: 10%;
}

.modal-swiper-button-next:after, .modal-swiper-button-prev:after {
    transform: rotate(90deg);
    content: url('../assets/img/icons/next.svg');
    margin-left: 10px;
}

.modal-swiper-button-prev:after {
    transform: rotate(270deg);
    margin-right: 20px;
}

/* Bootstrap Modal rewrite */
.modal-dialog {
    max-width: unset !important;
    height: 100%;
    margin: unset;
}

.modal {
    top: 2rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    border-radius: 0;
    z-index: 99999;
}

.modal-content,
.modal-body {
    height: 100%;
    border-radius: 0;
    padding: 0;
}

.cus-modal-content {
    border: none;
    padding-right: 5rem;
    padding-bottom: 2rem;
    background-color: #fefefe;
    border: 1px solid #888;
    position: absolute;
    top: 5rem;
    right: 5rem;
    left: 5rem;
    bottom: 5rem;
}

.close {
    position: absolute;
    right: 1.7rem;
    top: 1.5rem;
    width: 35px;
    height: 35px;
    z-index: 200;
    opacity: none;
}

.modal-content, .modal-body {
    border: unset;
}

.dropup .dropdown-toggle::after {
    transform: rotate(180deg);
}

.dropup.show .dropdown-toggle::after {
    transform: rotate(0deg);
}